*{
    box-sizing: border-box;
    margin: 0 0;
    padding: 0;
}
header{
    background: rgba(0, 0, 0, 0.833);
    color: rgb(255, 255, 255);
    height: 10rem;
    padding: 15px 0;
    padding: 0 20px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}
header nav ul{
    list-style: none;
    display: flex;
    font-size: larger;
    
}
header nav ul li{
    margin-left: 15px;

}
header nav ul li a{
    text-decoration: none;
    color: rgba(13, 105, 147, 0.614);
    transition: 1s;
}
.logo{
    height: 10rem;
    width: 15rem;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: 1s;
    
}
.logo img:hover{
    scale: 1.08;
}
header nav ul li a:hover{
    color: white;
}
.Home{
    background: url(./asset/markus-spiske-KWQ2kQtxiKE-unsplash.jpg) no-repeat center center/cover;
    height: 80vh;
    text-align: center;
    padding: 100px 20px;
    color: white;
}
.Home h1{
    margin-bottom: 30px;
    font-size: 58px;
    font-weight: 700;
    color: rgba(11, 106, 222, 0.813);
}
.Home p{
    font-size: 25px;
    margin-bottom: 25px;
    color: rgb(8, 148, 242);
 
}
.Home button{
background: black;
color: rgba(0, 149, 255, 0.868);
border: none;
padding: 15px;
font-size: 15px;
cursor: pointer;
transition: 1s ease;
}
.Home button:hover{
    color: white;
    font-size: 20px;
    padding: 20px;

}
.Team{
    text-align: center;
    padding: 60px 20px;
    background: rgb(72, 140, 197);
}

.Team h1{
font-size: 30px;
margin-bottom: 40px;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Team-member{
    text-align: center;
    padding-left: 20px;

}
.Team-member img{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    box-shadow: 0 10px 12px black;
}
.fixture{
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  text-align: center;
  padding: 60px 20px;
}
.fixture-container p{
    margin-bottom: 30px;
}
.fixture h2{
    font-size: 40px;
    margin-bottom: 40px;
}
.fixture-container{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
.fixture-container img{
    width: 5rem;
}
footer{
    text-align: center;
    padding: 60px 20px;
    background-color: rgb(95, 95, 196);
    color: white;
}

footer h2{
    font-size: 30px;
    margin-bottom: 40px;
}

/*responsiveness */
@media screen and (max-width:768px) {
    header na ul{
        flex-direction: column;
    }
    .team-member img{
        width: 150px;
        height: 150px;
    }
}
